@import '../../../style/commom';

.brief-weather {
  height: 400px;
  background-color: var(--brief-weather-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  &--location {
    font-size: 32px;
  }
  &__data {
    margin-top: 100px;
    color: #fff;
    text-align: center;
    .temprature {
      margin-top: 12px;
    }
    .name {
      font-size: 20px;
    }
  }
}
