.bg-1xx {
  background-image: url('@/assets/img/brief-1xx.png');
}

.bg-3xx {
  background-image: url('@/assets/img/brief-3xx.png');
}

.bg-4xx {
  background-image: url('@/assets/img/brief-4xx.png');
}

.bg-5xx {
  background-color: var(--brief-weather-mist-color);
  background-image: url('@/assets/img/brief-5xx.png');
}
