@import '../../../style/commom';

.city-list {
  padding: 0 16px;
}

.city-item {
  display: flex;
  height: 80px;
  position: relative;
  overflow: hidden;
  &:not(:last-child) {
    margin-bottom: 12px;
  }

  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 60% auto;
  border-radius: 6px;
  background-color: var(--brief-weather-color);
  transition: transform 0.2s ease;
  color: #fff;
  &__brief {
    text-align: center;
    p {
      font-size: 10px;
    }
  }
}
