@import 'https://fonts.googleapis.com/css2?family=Barlow&display=swap';

* {
  -webkit-tap-highlight-color: transparent;
}

.num-font {
  font-family: Barlow, sans-serif;
}

.ellipsis-one {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.power-by {
  width: 100%;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  margin: 12px 0;
  color: var(--common-sub-color);
}
