@import 'https://fonts.googleapis.com/css2?family=Barlow&display=swap';

* {
  -webkit-tap-highlight-color: transparent;
}

.num-font {
  font-family: Barlow, sans-serif;
}

.ellipsis-one {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
