@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap';

body {
  --bg-color: #fff;
  --color: #333;
  --brief-weather-color: #1a8cff;
  --brief-weather-mist-color: #768189;
  --moon-color: #ffd358;
  --mask-bg: rgb(255 255 255 / 20%);

  // message
  --msg-info-bg: #f2f9ff;
  --msg-info-border: #80bfff;
  --msg-success-bg: #d0f5d8;
  --msg-success-border: #4fe36f;
  --msg-warn-bg: #ffebcc;
  --msg-warn-border: #ffcb7d;
  --msg-error-bg: #ffdede;
  --msg-error-border: #fc9797;

  // hourly & info-panel
  --info-bg: rgb(133 133 133 / 14%);
  --info-item-sub-color: rgb(0 0 0 / 36%);
  --info-item-bg: #fcfcfc;
  --info-item-border-color: #e7e7e7;
  --search-list-item-border-color: #e8e8e8;
  --search-icon-color: #313131;
  --search-bg: rgb(255 255 255 / 70%);

  // action-sheet
  --action-sheet-bg: #fff;
  --action-sheet-out-borer-color: #bdbcbc;
  --action-sheet-item-border-color: #f5f5f5;
  &.dark {
    --color: #fff;
    --bg-color: #494c51;
    --brief-weather-color: #1e2735;
    --brief-weather-mist-color: #1d2127;
    --mask-bg: rgb(0 0 0 / 20%);

    // message
    --msg-info-bg: #293547;
    --msg-info-border: #496582;
    --msg-success-bg: #2d6639;
    --msg-success-border: #369c4c;
    --msg-warn-bg: #82530c;
    --msg-warn-border: #e39014;
    --msg-error-bg: #731e2d;
    --msg-error-border: #b8374f;

    // hourly
    --info-bg: rgb(0 0 0 / 32%);
    --info-item-sub-color: rgb(172 172 172);
    --info-item-bg: #5e5e5e;
    --info-item-border-color: #878787;
    --search-list-item-border-color: #707070;
    --search-icon-color: #939393;
    --search-bg: rgb(73 76 81 / 70%);

    // action-sheet
    --action-sheet-bg: #3b3b3b;
    --action-sheet-item-border-color: #464646;
    --action-sheet-out-borer-color: #454545;
  }

  font-family: 'Noto Sans SC', sans-serif;
  background-color: var(--bg-color);
  min-height: 100vh;
  color: var(--color);
  font-size: 16px;
  line-height: 1.3;
}
