.panel {
  height: 80px;
  border-radius: 6px;
  padding: 8px;
  background-color: var(--info-bg);
  display: flex;
}

.panel-main {
  flex: 2;
  overflow: hidden;
  &__head {
    display: flex;
    align-items: center;
    span {
      font-size: 13px;
      margin-top: -3px;
    }
  }
  &__content {
    margin: 6px 0 0 10px;
    font-size: 24px;
  }
  &__sub-text {
    font-size: 10px;
  }
}

.panel-rest {
  flex: 1;
  font-size: 12px;
  overflow: hidden;
  position: relative;
  &__icon {
    position: absolute;
    bottom: 4px;
    right: 8px;
    &.sun {
      color: #fa8734;
    }
    &.moon {
      color: var(--moon-color);
    }
  }
  &__tips {
    width: 100%;
    position: absolute;
    bottom: 4px;
    text-align: right;
    p:first-child {
      margin-bottom: 2px;
    }
  }
  &__quality-pointer {
    transform: rotate(90deg);
    position: absolute;
    right: 6px;
    color: #fff;
  }
  &__quality-bar {
    width: 2px;
    height: 90%;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background:
      linear-gradient(
        180deg,
        rgb(111 252 68 / 100%) 0%,
        rgb(240 172 46 / 100%) 21.48%,
        rgb(199 68 12 / 100%) 46.33%,
        rgb(166 23 149 / 100%) 66.44%,
        rgb(3 8 36 / 100%) 100%,
        rgb(122 6 62 / 100%) 100%
      );
  }
}
