.panel {
  height: 80px;
  border-radius: 6px;
  padding: 8px;
  background-color: var(--info-bg);
  display: flex;
}

.panel-main {
  flex: 2;
  &__head {
    display: flex;
    align-items: center;
    span {
      font-size: 13px;
      margin-top: -3px;
    }
  }
  &__content {
    margin: 6px 0 0 18px;
    font-size: 24px;
  }
}

.panel-rest {
  flex: 1;
  font-size: 12px;
  overflow: hidden;
  position: relative;
  &__icon {
    position: absolute;
    bottom: 4px;
    right: 8px;
    &.sun {
      color: #fa8734;
    }
    &.moon {
      color: var(--moon-color);
    }
  }
  &__tips {
    width: 100%;
    position: absolute;
    bottom: 4px;
    text-align: right;
    p:first-child {
      margin-bottom: 2px;
    }
  }
}
