.forecast-list {
  margin: 20px 18px;
  border-radius: 6px;
  padding: 12px;
  background-color: var(--info-bg);
  &__item {
    display: flex;
    height: 58px;
    align-items: center;
    background-color: var(--info-item-bg);
    border-radius: 4px;
    padding: 0 14px;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    :global(.icon) {
      margin: 0 16px;
    }
  }
  &__item-date {
    font-size: 14px;
    & > p:nth-child(2) {
      color: var(--info-item-sub-color);
      font-size: 10px;
      text-align: center;
    }
  }
  &__item-temp {
    display: flex;
    flex: 1;
    align-items: center;
    span {
      font-size: 12px;
    }
    &-bar {
      height: 3px;
      border-radius: 3px;
      flex: 1;
      margin: 0 12px;
      position: relative;
      overflow: hidden;
      background: rgb(47 47 47 / 19%);
      &--inner {
        height: 100%;
        top: 0;
        clip-path: inset(0% var(--offset-right) 0% var(--offset-left) round 3px);
        position: absolute;
        width: 100%;
        background:
          linear-gradient(
            90deg,
            rgb(54 159 219 / 100%) 0%,
            rgb(247 211 92 / 100%) 49.66%,
            rgb(255 194 86 / 100%) 100%
          );
        &.negative {
          border-radius: 4px;
          background:
            linear-gradient(
              90deg,
              rgb(38 146 209 / 100%) 13.58%,
              rgb(84 203 227 / 100%) 58.04%,
              rgb(66 252 255 / 100%) 100%
            );
        }
        &.positive {
          background:
            linear-gradient(
              90deg,
              rgb(189 250 115 / 100%) 1.28%,
              rgb(255 223 43 / 100%) 53.93%,
              rgb(255 137 10 / 85%) 100%
            );
        }
      }
    }
  }
}
