.brief-weather {
  height: 440px;
  background-color: var(--brief-weather-color);
  overflow: hidden;
  &--location {
    font-size: 32px;
    margin-bottom: 18px;
  }
  &__data {
    margin-top: 100px;
    color: #fff;
    text-align: center;
    p {
      margin-top: 12px;
    }
    .name {
      font-size: 20px;
    }
  }
}
