.home {
  &__hourly {
    margin-top: 12px;
  }
  &__info-panels {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 18px;
    & > div {
      width: calc(50% - 6px);
      margin-bottom: 12px;
      &:nth-child(2n) {
        margin-left: 12px;
      }
      &:nth-child(3),
      &:nth-child(4) {
        margin-bottom: 0;
      }
    }
  }
  &__map {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}
