.hourly {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  &::-webkit-scrollbar {
    display: none;
  }

  scroll-behavior: smooth;
}

.hourly-item {
  width: 54px;
  height: 80px;
  background-color: var(--info-bg);
  border-radius: 6px;
  margin-right: 18px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0;
  &:first-child {
    margin-left: 18px;
  }
  &__icon {
    margin-bottom: 3px;
  }
  &__temp {
    // color: #fff;
    font-weight: bold;
    font-size: 12px;
    margin: 2px 0;
  }
  &__sub {
    font-size: 8px;
    color: var(--hourly-item-sub-color);
  }
}
